/* ---- CSS Reset ---- */
/* CREDIT: Josh Comeau (https://www.joshwcomeau.com/css/custom-css-reset/) */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root {
    isolation: isolate;
}

:root {
    --gutter: 32px;
    --header-height: 100px;
}

html,
body {
    display: block;
    width: 100%;
    height: 100%;
}

html {
    /* overflow-x: hidden; */
    overflow-y: auto;
}

body {
    font-family: 'Outfit', sans-serif;
    /* background-color: #e5e7e9; */
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #3e4b5b;
    font-size: 20px;
    font-weight: 300;
}

/* ---- Frame ---- */
.wrapper {
    display: grid;
    grid-template-columns: 1fr min(100ch, calc(100% - 2 * var(--gutter))) 1fr;
    grid-template-columns: 1fr min(60em, calc(100% - 2 * var(--gutter))) 1fr;
    grid-column-gap: 32px;
    /* border: 1px solid red; */
}

.wrapper>* {
    grid-column: 2;
    /* border: 1px solid blue; */
}

.full-bleed {
    grid-column: 1 / -1;
    background-color: rgb(223 235 246);
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
    /* background: white; */
    /* box-shadow: 0 10px 15px rgba(50, 50, 50, 0.1); */
    /* position: sticky; */
    top: 0;
    z-index: 100;
}
.logo {
    width: var(--header-height);
    background-color: red;
}

nav {
    /* background-color: orange; */
    /* border: 1px solid silver; */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
    min-height: 100px;
    min-height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: var(--header-height);
    gap: 4em;
    background-color: #e1ff01;
    margin: 60px 0;

    & a {
        text-decoration: none;
        display: inline-block;
        margin: 0 8px;
        color: inherit;
        font-weight: 500;
        font-size: 18px;
        /* opacity: 0.875; */
    }

    & img {
        height: 38px;
    }
}

/* ---------- */

.tasklist-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(360px, 1fr)); */
    /* grid-auto-rows: minmax(200px, auto); */
    grid-gap: 30px;
    /* background-color: #fff; */
    padding: 30px;
    border-radius: 60px;
    overflow: hidden;
    border: 1px dashed #4e4c4a;

    & .task-count {
        font-size: smaller;

        & em {
            font-style: normal;
            font-weight: bolder;
        }
    }
}
  
.tasklist-item {
    /* border: 1px dotted #ddd; */
    background-color: #f3f5f6;
    border-radius: 30px;
    padding: 20px;

    & a {
        text-decoration: none;
        background-color: #aec5e1;
        display: inline-block;
        padding: 6px 8px;
        margin-top: 10px;
        border-radius: 6px;
        color: #3e4b5b;
    }

    & .task-info {
        border-top: 1px dotted #ddd;
        margin-top: 20px;
        padding-top: 10px;
        display: flex;
        font-size: smaller;
        opacity: 0.8;

        & div {
            margin-right: 40px;
        }
    }
}
dialog {
    position: fixed;
    inset: 0;
    width: unset;
    height: unset;
}
dialog::backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.1);
  }