/* ---- CSS Reset ---- */
/* CREDIT: Josh Comeau (https://www.joshwcomeau.com/css/custom-css-reset/) */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root {
    isolation: isolate;
}

:root {
    --gutter: 32px;
    --header-height: 100px;
}

html,
body {
    display: block;
    width: 100%;
    height: 100%;
}

html {
    /* overflow-x: hidden; */
    overflow-y: auto;
}

body {
    font-family: 'Outfit', sans-serif;
    /* background-color: #e5e7e9; */
    background-color: #fff;

/* opacity: 0.8;
background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px; */


    
  
  

    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #3e4b5b;
    font-size: 20px;
    font-weight: 300;
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

/* ---- Frame ---- */
.wrapper {
    display: grid;
    grid-template-columns: 1fr min(100ch, calc(100% - 2 * var(--gutter))) 1fr;
    grid-template-columns: 1fr min(60em, calc(100% - 2 * var(--gutter))) 1fr;
    grid-column-gap: 32px;
    /* border: 1px solid red; */
}

.wrapper>* {
    grid-column: 2;
    /* border: 1px solid blue; */
}

.full-bleed {
    grid-column: 1 / -1;
    background-color: rgb(223 235 246);
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
    /* background: white; */
    /* box-shadow: 0 10px 15px rgba(50, 50, 50, 0.1); */
    /* position: sticky; */
    top: 0;
    z-index: 100;
}

.logo {
    width: var(--header-height);
    background-color: red;
}

nav {
    /* background-color: orange; */
    /* border: 1px solid silver; */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
    min-height: 100px;
    min-height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: var(--header-height);
    gap: 4em;
    background-color: #e1ff01;
    background-color: #fecd00;
    margin: 60px 0;

    & a {
        text-decoration: none;
        display: inline-block;
        margin: 0 8px;
        color: inherit;
        font-weight: 500;
        font-size: 18px;
        /* opacity: 0.875; */
    }

    & img {
        height: 38px;
    }
}

/* ---------- */

.tasklist-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(360px, 1fr)); */
    /* grid-auto-rows: minmax(200px, auto); */
    grid-gap: 30px;
    background-color: #fff;
    padding: 30px;
    border-radius: 60px;
    overflow: hidden;
    border: 1px dashed #4e4c4a;

    & .task-count {
        font-size: smaller;

        & em {
            font-style: normal;
            font-weight: bolder;
        }
    }
}

.tasklist-item {
    /* border: 1px dotted #ddd; */
    background-color: #f3f5f6;
    border-radius: 30px;
    padding: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: 120px 1fr 100px;

    .status {
        display: inline-flex;
        place-items: center;
        justify-content: left;
        width: fit-content;
        border: 1px dashed #565c59;

        justify-content: left;
        width: fit-content;
        border: 1px dashed #9faaa4;
        border-radius: 20px;
        padding: 2px 8px 2px 5px;
        background-color: #fff;
    }

    .status-icon {
        vertical-align: text-bottom;
        margin-right: 2px;
    }

    .status-text {
        /* color: rgb(108, 108, 108); */
        font-size: 12px;
    }

    .open {
        color: #ff5722;
        border-color: #ff5722;
    }

    .in_progress {
        color: #00b0ff;
        border-color: #00b0ff;
    }
    
    .closed {
        color: #00c853;
        border-color: #00c853;
    }

    & a {
        text-decoration: none;
        /* background-color: #aec5e1; */
        display: inline-block;
        padding: 6px 8px;
        /* margin-top: 10px; */
        border-radius: 6px;
        color: #3e4b5b;
        display: grid;
        place-items: center;
        transition: 300ms all;
    }
    

    & .task-info {
        border-top: 1px dotted #ddd;
        margin-top: 20px;
        padding-top: 10px;
        display: flex;
        font-size: smaller;
        opacity: 0.8;
        display: none;

        & div {
            margin-right: 40px;
        }
    }
}

.tasklist-item:hover a {
    color: #fecd00;
    translate: 10px 0;
    scale: 1.2;
}

dialog {
    position: fixed;
    inset: 0;
    width: unset;
    height: unset;
}

dialog::backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.1);
}

.loader-container {
    display: grid;
    place-items: center;
}
.loader {
    width: 100px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    background: #fff;
    filter: blur(4px) contrast(10) hue-rotate(240deg);
    mix-blend-mode: darken;
  }
  .loader:before{
    content: "";
    grid-area: 1/1;
    margin: 30px 0;
    border-radius: 100px;
    background: #00ffff;
  }
  .loader:after {
    content: "";
    grid-area: 1/1;
    height: 35px;
    width: 35px;
    margin: auto;
    border-radius: 50%;
    background: #00ffff;
    animation: l5 2s infinite linear;
  }
  @keyframes l5{
    0%   {transform: translate(30px)}
    25%  {transform: translate(0)}
    50%  {transform: translate(-30px)}
    75%  {transform: translate(0)}
    100% {transform: translate(30px)}
  }